/* Navbar container */
.Header {
    background-color: #83C89A;
    width: 1000px;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Centering content inside navbar */
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Logo styling */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .bucket-img {
    max-width: 150px;
    height: auto;
    margin-bottom: -50px;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  /* Individual link styling */
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #1F76AE;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #FFFCC9;
  }
  