@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1000px;
        height: 1000px;
      background-color: #FFFCC9;
      flex-direction: column;
      position: relative;
      }

      .title {
        font-size: 65px;
        color:#83C89A;
  
        font-weight: bold;
        font-family: Poppins, sans-serif;
        position: absolute;
        margin-top: -200px;
      }

      .message1 {
        font-size: 40px;
        color: #1F76AE;
        font-weight: bold;
        font-family: Poppins, sans-serif;
        position: absolute;
        margin-top: 0px;  /* Adjust as needed */
        text-align: center;
    }



      .image {
        width: 500px;
        position: absolute;
        margin-left:50px;
        top: 10px;
        
    }
      .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; 
      margin-bottom: -600px;
      }

      .input {
      width: 100%;
      color:#1F76AE;
      padding: 12px;
      font-size: 16px;
      border: 2px solid #5AB5F0; 
      border-radius: 8px;
      outline: none;
      font-family: Poppins, sans-serif;
      }
      .input::placeholder {
        color:#1F76AE;
      }

      .button {
      width: 100%;
      padding: 12px;
      font-size: 18px;
      color: #FFFCC9;
      background-color: #5AB5F0;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
      }
    