@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFCC9;
    flex-direction: column;
    position: relative;
}

.profile-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.message {
    font-size: 65px;
    color: #333;
    margin-top: -300px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.image {
    max-width: 150px;
    height: auto;
    top: 500px;
    left: 260px;
    position: absolute;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 300px;
 }

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }

 .buttonContainer {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 250px;
}

.button {
    background-color: #5AB5F0;
    color: white;
    padding: 15px 37px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    transition: background-color 0.3s ease;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-placeholder {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #aaa; 
}


